<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>

  <link rel="stylesheet" href="css/contact.css">

  {{>headerInlcudes}}
</head>

<body>
  {{>header}}

  {{!-- --}}

  <div class="background">
    <div class="container">
      <div class="screen">

        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>CONTACT</span>
              <span>US</span>
            </div>
            <div class="app-contact">CONTACT INFO : +91 9451988451</div>
          </div>
          <div class="screen-body-item">
           <!-- <form class="app-form" action="/contactUs" method="POST"> -->
              <div class="app-form-group">
                <input type="text" class="app-form-control" id="name1" name="senderName" placeholder="NAME" required>
              </div>
              <div class="app-form-group">
                <input type="email" class="app-form-control" id="email1" name="senderEmail" placeholder="EMAIL" required>
              </div>
              <div class="app-form-group">
                <input type="tel" class="app-form-control" id="phone1" name="senderContact" placeholder="CONTACT NO" required>
              </div>
              <div class="app-form-group message">
                <input type="text" class="app-form-control" id="message1" name="message" placeholder="MESSAGE" required>
              </div>
              <div class="app-form-group buttons">
                <button type="submit" class="app-form-button" name="submitBtn" onclick="submitForm()">SEND</button>
              </div>
              <span id="validDiv" style="display:none;">Your response has been submitted</span>
           <!-- </form> -->
          </div>
        </div>
      </div>

    </div>
  </div>
  
  {{!-- --}}

  {{>footer}}
</body>
<script>
  var submitForm = function (){
    var http = new XMLHttpRequest();
    var data =
    {
        'name': document.getElementById('name1').value,
        'email': document.getElementById('email1').value,
        'phone': document.getElementById('phone1').value,
        'message': document.getElementById('message1').value
    };
    http.open('post', 'http://localhost:3000/contactUs');
    http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    console.log('request initialized');
    var dt = "senderName=" + data.name + "&senderEmail=" + data.email + "&senderContact=" + data.phone + "&message=" + data.message;
    console.log(dt);
    http.send(dt);
    console.log('request sent')
    http.onreadystatechange = function (ev) {
        console.log(http.readyState);
    }
    http.onloadend = function (ev) {
        console.log('Load ended');
        console.log(http.responseText);
        if (http.responseText == 'saved') {
            document.getElementById('validDiv').style.setProperty('display', 'block');
        } 
    }
    
}
</script>
</html>