<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="css/util2.css">
    <link rel="stylesheet" href="css/gallery.css">
    {{>headerInlcudes}}
</head>

<body>
    {{>header}}

    <section class="u-align-center u-clearfix u-section-1" id="sec-dc57">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-custom-font u-font-titillium-web u-text u-title u-text-1">Relive Our Mo​ments</h1>
            <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-none u-gallery-1">
                <div class="u-gallery-inner u-gallery-inner-1">
                    <div
                        class="u-border-1 u-border-grey-80 u-effect-hover-liftUp u-gallery-item u-radius-5 u-shape-round">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="960">
                            <img class="u-back-image u-expanded" src="images/gallery/Events/IMG-20181216-WA0051.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-1">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div
                        class="u-border-1 u-border-grey-80 u-effect-hover-liftUp u-gallery-item u-radius-5 u-shape-round">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="960">
                            <img class="u-back-image u-expanded" src="images/gallery/Events/IMG-20181216-WA0057.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-2">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div
                        class="u-border-1 u-border-grey-80 u-effect-hover-liftUp u-gallery-item u-radius-5 u-shape-round">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="960">
                            <img class="u-back-image u-expanded" src="images/gallery/Events/IMG-20190101-WA0025.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-3">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div
                        class="u-border-1 u-border-grey-80 u-effect-hover-liftUp u-gallery-item u-radius-5 u-shape-round">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="960">
                            <img class="u-back-image u-expanded" src="images/gallery/Events/IMG-20190210-WA0027.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-4">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div
                        class="u-border-1 u-border-grey-80 u-effect-hover-liftUp u-gallery-item u-radius-5 u-shape-round">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="960">
                            <img class="u-back-image u-expanded" src="images/gallery/Events/IMG-20190114-WA0069.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-5">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div
                        class="u-border-1 u-border-grey-80 u-effect-hover-liftUp u-gallery-item u-radius-5 u-shape-round">
                        <div class="u-back-slide" data-image-width="1152" data-image-height="864">
                            <img class="u-back-image u-expanded" src="images/gallery/Events/IMG-20190205-WA0033.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-6">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-border-1 u-border-grey-80 u-effect-hover-liftUp u-gallery-item u-radius-5 u-shape-round u-gallery-item-7"
                        data-image-width="1280" data-image-height="720">
                        <div class="u-back-slide" data-image-width="1032" data-image-height="581">
                            <img class="u-back-image u-expanded u-back-image-7"
                                src="images/gallery/Events/IMG-20190303-WA0050.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-7">
                            <h3 class="u-gallery-heading" style="background-image: none;"></h3>
                            <p class="u-gallery-text" style="background-image: none;"></p>
                        </div>
                    </div>
                    <div class="u-border-1 u-border-grey-80 u-effect-hover-liftUp u-gallery-item u-radius-5 u-shape-round u-gallery-item-8"
                        data-image-width="1280" data-image-height="777">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="960">
                            <img class="u-back-image u-expanded u-back-image-8"
                                src="images/gallery/Events/IMG-20190113-WA0023.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-8">
                            <h3 class="u-gallery-heading" style="background-image: none;"></h3>
                            <p class="u-gallery-text" style="background-image: none;"></p>
                        </div>
                    </div>
                    <div class="u-border-1 u-border-grey-80 u-effect-hover-liftUp u-gallery-item u-radius-5 u-shape-round u-gallery-item-9"
                        data-image-width="2000" data-image-height="1333">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="960">
                            <img class="u-back-image u-expanded" src="images/gallery/Events/IMG-20190324-WA0039.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-9">
                            <h3 class="u-gallery-heading" style="background-image: none;"></h3>
                            <p class="u-gallery-text" style="background-image: none;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-278b">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h2 class="u-text u-text-1">Media Coverage</h2>
            <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-none u-gallery-1"
                id="carousel-8c08">
                <div class="u-gallery-inner u-gallery-inner-1" role="listbox">
                    <div class="u-border-2 u-border-grey-75 u-effect-hover-liftUp u-gallery-item">
                        <div class="u-back-slide" data-image-width="540" data-image-height="586">
                            <img class="u-back-image u-expanded u-back-image-1"
                                src="images/gallery/mediaCoverage/IMG-20190325-WA0013.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-1">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-border-2 u-border-grey-75 u-effect-hover-liftUp u-gallery-item">
                        <div class="u-back-slide" data-image-width="518" data-image-height="578">
                            <img class="u-back-image u-expanded u-back-image-2"
                                src="images/gallery/mediaCoverage/IMG-20190311-WA0020.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-2">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-border-2 u-border-grey-75 u-effect-hover-liftUp u-gallery-item">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="622">
                            <img class="u-back-image u-expanded" src="images/gallery/mediaCoverage/IMG-20181217-WA0012.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-3">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-border-2 u-border-grey-75 u-effect-hover-liftUp u-gallery-item">
                        <div class="u-back-slide" data-image-width="588" data-image-height="1040">
                            <img class="u-back-image u-expanded u-back-image-4"
                                src="images/gallery/mediaCoverage/IMG-20190114-WA0053.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-4">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-border-2 u-border-grey-75 u-effect-hover-liftUp u-gallery-item">
                        <div class="u-back-slide" data-image-width="540" data-image-height="960">
                            <img class="u-back-image u-expanded u-image-contain u-back-image-5"
                                src="images/gallery/mediaCoverage/IMG-20190312-WA0012.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-5">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-border-2 u-border-grey-75 u-effect-hover-liftUp u-gallery-item">
                        <div class="u-back-slide" data-image-width="780" data-image-height="1040">
                            <img class="u-back-image u-expanded u-back-image-6"
                                src="images/gallery/mediaCoverage/IMG-20190312-WA0014.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-6">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-border-2 u-border-grey-75 u-effect-hover-liftUp u-gallery-item u-gallery-item-7"
                        data-image-width="1280" data-image-height="720">
                        <div class="u-back-slide" data-image-width="780" data-image-height="1040">
                            <img class="u-back-image u-expanded u-back-image-7"
                                src="images/gallery/mediaCoverage/IMG-20190312-WA0016.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-7">
                            <h3 class="u-gallery-heading" style="background-image: none;"></h3>
                            <p class="u-gallery-text" style="background-image: none;"></p>
                        </div>
                    </div>
                    <div class="u-border-2 u-border-grey-75 u-effect-hover-liftUp u-gallery-item u-gallery-item-8"
                        data-image-width="1280" data-image-height="777">
                        <div class="u-back-slide" data-image-width="1280" data-image-height="960">
                            <img class="u-back-image u-expanded u-back-image-8"
                                src="images/gallery/mediaCoverage/IMG-20181217-WA0006.jpg">
                        </div>
                        <div class="u-over-slide u-over-slide-8">
                            <h3 class="u-gallery-heading" style="background-image: none;"></h3>
                            <p class="u-gallery-text" style="background-image: none;"></p>
                        </div>
                    </div>
                    <div class="u-border-2 u-border-grey-75 u-effect-hover-liftUp u-gallery-item u-gallery-item-9"
                        data-image-width="2000" data-image-height="1333">
                        <div class="u-back-slide" data-image-width="960" data-image-height="1280">
                            <img class="u-back-image u-expanded" src="images/gallery/mediaCoverage/IMG-20181217-WA0014.jpg">

                        </div>
                        <div class="u-over-slide u-over-slide-9">
                            <h3 class="u-gallery-heading" style="background-image: none;"></h3>
                            <p class="u-gallery-text" style="background-image: none;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {{>footer}}
</body>

</html>