<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banda Roti Bank</title>
    <link rel="stylesheet" href="css/homepage.css">
    {{>headerInlcudes}}
</head>
<body> 
    {{>header}}

    {{!-- *********************************************************************************** --}}
    <section id="hero">
        <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Your <span class="text-danger">Help</span></h1>
            <h2>Is Someone's <span class="text-warning font-weight-bold font-italic">Growth</span></h2>
            <a href="#services" class="btn-get-started">Get Started</a>
        </div>
    </section>
    
    <section id="services">
        <div class="container" data-aos="fade-up">
            <div class="section-header mb-5">
                <h3 class="section-title">It's Time to <span class="text-danger">React</span></h3>
                <p class="section-description">
                    11.3% of the world’s population is hungry.
                    Poverty is the principal cause of hunger.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="box">
                        <div class="icon">
                            <a><i class="fa fa-exclamation-triangle"></i></a>
                        </div>
                        <h4 class="title"><a href="">Its a Global Crises</a></h4>
                        <p class="description">
                            Almost 1 in every 15 children in developing countries dies before
                            the age of 5, most of them from hunger-related causes
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="box">
                        <div class="icon">
                            <a><i class="fa fa-globe"></i></a>
                        </div>
                        <h4 class="title"><a href="">We need development</a></h4>
                        <p class="description">
                            Nearly 98% of worldwide hunger exists in underdeveloped countries.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="box">
                        <div class="icon">
                            <a><i class="fa fa-frown-o"></i></a>
                        </div>
                        <h4 class="title"><a href="">Think About It</a></h4>
                        <p class="description">
                            Hunger kills more people than the deadly Corona virus have in total "Every Year"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{!-- *********************************************************************************** --}}

    {{>footer}}
</body>
</html>