<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Mission | Banda Roti Bank | Non Profit organisation</title>
    <link rel="stylesheet" href="css/util2.css">
    <link rel="stylesheet" href="css/mission.css">
    {{>headerInlcudes}}
</head>

<body>
    {{>header}}

    <section class="u-clearfix u-image u-shading u-section-1" id="carousel_9aa0" data-image-width="950"
        data-image-height="1534">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-20 u-size-60-md">
                        <div class="u-layout-col">
                            <div
                                class="u-align-center u-container-style u-layout-cell u-size-60 u-white u-layout-cell-1">
                                <div class="u-container-layout u-valign-middle u-container-layout-1">
                                    <h2 class="u-text u-text-1">Our Missions</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-40 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div
                                        class="u-align-center u-container-style u-layout-cell u-size-28 u-layout-cell-2">
                                        <div class="u-container-layout u-container-layout-2">
                                            <h1 class="u-text u-text-2">1</h1>
                                            <h5 class="u-text u-text-3">fight hunger</h5>
                                        </div>
                                    </div>
                                    <div
                                        class="u-align-justify u-container-style u-layout-cell u-size-32 u-layout-cell-3">
                                        <div
                                            class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-3">
                                            <p
                                                class="u-custom-font u-font-roboto u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-4">
                                                Fight against hunger is always our one of the main mission from the
                                                start.
                                                Our organization was initially started to feed poor and hungry people
                                                and
                                                will always keep feeding such people. No one sleeps hungry is one of our
                                                main motos.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div
                                        class="u-align-center u-container-style u-layout-cell u-size-28 u-layout-cell-4">
                                        <div class="u-container-layout u-valign-top u-container-layout-4">
                                            <h1 class="u-text u-text-5">2</h1>
                                            <h5 class="u-text u-text-6">help needy</h5>
                                        </div>
                                    </div>
                                    <div
                                        class="u-align-justify-lg u-align-justify-md u-align-justify-sm u-align-justify-xs u-container-style u-layout-cell u-size-32 u-layout-cell-5">
                                        <div
                                            class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-5">
                                            <p
                                                class="u-custom-font u-font-roboto u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-7">
                                                Being started as a food bank soon we started to help people who really
                                                need
                                                someone's help. Our organization is not just limited to feeding poor
                                                people
                                                but we also provide help to needy people to make their lives better.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div
                                        class="u-align-center u-container-style u-layout-cell u-size-28 u-layout-cell-6">
                                        <div class="u-container-layout u-container-layout-6">
                                            <h1 class="u-text u-text-8">3</h1>
                                            <h5 class="u-text u-text-9">basic commodities</h5>
                                        </div>
                                    </div>
                                    <div
                                        class="u-align-justify-lg u-align-justify-md u-align-justify-sm u-align-justify-xs u-container-style u-layout-cell u-size-32 u-layout-cell-7">
                                        <div
                                            class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-7">
                                            <p
                                                class="u-custom-font u-font-roboto u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-10">
                                                One of our goals is also to distribute basic commodities amongst people
                                                like
                                                clothes, study material to students, sewing machines, food, and a lot of
                                                their things. we distribute these things to those who are not able to
                                                afford
                                                all this.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_8af8">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div
                            class="u-align-center u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-1">
                            <div
                                class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                                <h2 class="u-text u-text-1">Future Mission</h2>
                                <img src="images/mission/c36bcb341156cb1c8b3633a4c60e6803a5696869ff3a3684e408c7db0f28fd14ff46c6d772022226e9f36f616b65342cc2b9c01a46cd902216a80a_1280.png"
                                    alt="" class="u-image u-image-default u-image-1" data-image-width="1280"
                                    data-image-height="905">
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <h4 class="u-text u-text-default u-text-2">Mission</h4>
                                <p class="u-text u-text-3">One of our future mission on which we are working currently
                                    so
                                    hard to make it possible is Health care. The ongoing global pandemic "Corona Virus"
                                    Inspired us to do something in the health field. Currently, we are planning to make
                                    it
                                    possible and we need your help. Without your contribution, we can not pull it off on
                                    our
                                    own.</p>
                                <div class="u-border-1 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
                                <h4 class="u-text u-text-4">We need your help</h4>
                                <p class="u-text u-text-5">To make this mission possible we need funds to develop a good
                                    structure to provide such health care facilities to those people who can not afford
                                    such
                                    facilities because of their expansiveness. Any kind of help is most welcome, whether
                                    it
                                    is a single rupee or a thousand we request everybody's efforts. Please help us make
                                    it
                                    possible.</p>
                                <div class="u-border-1 u-border-grey-dark-1 u-line u-line-horizontal u-line-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-3" id="carousel_756d">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h1 class="u-text u-text-1">Send Your Love ❤</h1>
            <p class="u-large-text u-text u-text-font u-text-variant u-text-2">Your Love is Our Fuel 😁</p>
            <button type="button" class="u-btn u-button-style u-text-palette-2-base u-white u-btn-1" data-toggle="modal"
                data-target="#donateModal">Donate now</button>
        </div>
    </section>




    {{>footer}}
</body>

</html>