<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Feed</title>
    <link rel="stylesheet" href="css/newsfeed.css">
    {{>headerInlcudes}}
    <script src="js/insta.js"></script>
</head>

<body>
    {{>header}}

    <section id="wrapper">
        {{!-- Section 1 --}}
        <section id="section1" class="container py-4">
            <div id="announcement" class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="text-dark">
                        Announcements
                    </h5>
                    <h5 class="text-dark">
                        <i class="fa fa-bell"></i>
                    </h5>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group text-dark">
                        <li class="list-group-item">
                            <h6 class="text-dark">
                                This is a demo announcement to check how
                                Announcements will look
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        {{!-- Section 2 --}}
        <section id="section2" class="container pb-5">
            <div class="row no-gutters justify-content-between   ">
                {{!-- Sub section 1 --}}
                <div class="col-md-7" id="blogContainer">
                    <div id="blogList" class="">
                        <div class="card">
                            <img src="images/home/ngo_img2.jpg" alt="" class="img-fluid img-thumbnail border-0">
                            <div class="card-body p-0 ">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5>This is how we help people 😊</h5>
                                    </li>
                                    <li class="list-group-item">
                                        <p>Banda Roti Bank started in January 2018 with a motive to feed hungry people
                                            around the locality of banda and provide
                                            them with basic commodities like blankets and warm clothes in winter and
                                            later we expanded our community services and
                                            started helping people to every extent.
                                        </p>
                                        <a href="">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Sub section 2 --}}
                <div class="col" id="">
                    <div class="card">
                        <div class="card-header">
                            Updates
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs justify-content-around">
                                <li class="nav-item ">
                                    <a class="nav-link active" data-toggle="tab" href="#insta">Instagram</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" data-toggle="tab" href="#fb">Facebook</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" data-toggle="tab" href="#event">Events</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane container active" id="insta">
                                    <div id="instagram-feed" class="mt-2">
                                    </div>
                                </div>
                                <div class="tab-pane container fade" id="fb">{{>fb}}</div>
                                <div class="tab-pane container fade" id="event">Events</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


    {{>footer}}
</body>

</html>