<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Feed</title>
    <link rel="stylesheet" href="css/newsfeed.css">
    {{>headerInlcudes}}

</head>

<body>
    {{>header}}
    <section id="wrapper">
        {{!-- Section 1 --}}
        <section id="section1" class="container py-4">
            <div id="announcement" class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="text-dark">
                        Announcements
                    </h5>
                    <h5 class="text-dark">
                        <i class="fa fa-bell"></i>
                    </h5>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group text-dark">
                        <li class="list-group-item">
                            <h6 class="text-dark">
                               
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        {{!-- Section 2 --}}
        <section id="section2" class="container pb-5">
            <div class="row no-gutters justify-content-between   ">
                {{!-- Sub section 1 --}}
                <div class="col-12 col-lg-7" id="blogContainer">
                    <div id="blogList" class="">
                        <div class="card">
                            <img src="images/home/ngo_img2.jpg" alt="" class="img-fluid img-thumbnail border-0">
                            <div class="card-body p-0 ">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5>This is how we help people 😊</h5>
                                    </li>
                                    <li class="list-group-item">
                                        <p>Banda Roti Bank started in January 2018 with a motive to feed hungry people
                                            around the locality of banda and provide
                                            them with basic commodities like blankets and warm clothes in winter and
                                            later we expanded our community services and
                                            started helping people to every extent.
                                        </p>
                                        <a href="">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Sub section 2 --}}
                <div class="col" id="">
                    <div class="card">
                        <div class="card-header">
                            Updates
                        </div>
                        <div class="card-body px-0">
                            <ul class="nav nav-tabs justify-content-around">
                                <li class="nav-item ">
                                    <a class="nav-link text-danger" data-toggle="tab" href="#insta">Instagram</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link text-info" data-toggle="tab" href="#fb">Facebook</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane container active" id="insta">
                                    <div id="instagram-feed" class="mt-2">
                                    </div>
                                </div>
                                <div class="tab-pane text-center fade" id="fb">
                                    <iframe class="mt-4"
                                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbandarotibankbanda&tabs=timeline&width=250&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
                                        width="250" height="500" style="border:none;overflow:hidden" scrolling="no"
                                        frameborder="0" allowfullscreen="true"
                                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


    {{>footer}}
</body>
{{!-- Following code is for accessing instagram feed --}}
<script src="js/insta.js"></script>
<script>
    (function () {
        new InstagramFeed({
            'username': 'banda_roti_bankbanda',
            'container': document.getElementById("instagram-feed"),
            'display_profile': true,
            'display_biography': true,
            'display_gallery': true,
            'display_captions': true,
            'max_tries': 8,
            'callback': null,
            'styling': true,
            'items': 8,
            'items_per_row': 2,
            'margin': 2,
            'lazy_load': true,
            'on_error': console.error,
            'host': "https://images" + ~~(Math.random() * 3333) + "-focus-opensocial.googleusercontent.com/gadgets/proxy?container=none&url=https://www.instagram.com/",
            'cache_time': 660
        });
    })();
</script>

</html>