<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Feed</title>
    <link rel="stylesheet" href="css/newsfeed.css">
    {{>headerInlcudes}}
    <script src="https://apis.google.com/js/platform.js"></script>
</head>

<body>
    {{>header}}
    <section id="wrapper">
        {{!-- Section 1 --}}
        <section id="section1" class="container py-4">
            <div id="announcement" class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="text-dark">
                        Announcements
                    </h5>
                    <h5 class="text-dark">
                        <i class="fa fa-bell"></i>
                    </h5>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group text-dark">
                        <li class="list-group-item">
                            {{#each data}}
                            <h6 class="text-dark">
                                  {{announce}}
                            </h6>
                            {{/each}}
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        {{!-- Section 2 --}}
        <section id="section2" class="container pb-5">
            <div class="row no-gutters justify-content-between   ">
                {{!-- Sub section 1 --}}
                <div class="col-12 col-lg-7" id="blogContainer">
                    <div id="blogList" class="">
                        <div class="card">
                            <img src="images/home/ngo_img2.jpg" alt="" class="img-fluid img-thumbnail border-0">
                            <div class="card-body p-0 ">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5>This is how we help people 😊</h5>
                                    </li>
                                    <li class="list-group-item">
                                        <p>Banda Roti Bank started in January 2018 with a motive to feed hungry people
                                            around the locality of banda and provide
                                            them with basic commodities like blankets and warm clothes in winter and
                                            later we expanded our community services and
                                            started helping people to every extent.
                                        </p>
                                        <a href="">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Sub section 2 --}}
                <div class="col" id="">
                    <div class="card">
                        <div class="card-header">
                            Updates
                        </div>
                        <div class="card-body px-0">
                            <ul class="nav nav-tabs justify-content-around" id="tabs">
                                <li class="nav-item">
                                    <a class="nav-link text-info active" data-toggle="tab" href="#fb">Facebook</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link text-info" data-toggle="tab" href="#twitter">Twitter</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link text-info" data-toggle="tab" href="#youtube">Youtube</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link text-info" data-toggle="tab" href="#insta">Instagram</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane text-center active" id="fb">
                                    <iframe class="mt-4"
                                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbandarotibankbanda&tabs=timeline&width=250&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
                                        width="250" height="500" style="border:none;overflow:hidden" scrolling="no"
                                        frameborder="0" allowfullscreen="true"></iframe>
                                </div>
                                <div class="tab-pane text-center" id="twitter" style="height: 530px; overflow-y: auto;">
                                    <a class="twitter-timeline"
                                        href="https://twitter.com/Rotibankbanda?ref_src=twsrc%5Etfw">Tweets by
                                        Rotibankbanda</a>
                                    <script async src="https://platform.twitter.com/widgets.js"
                                        charset="utf-8"></script>
                                </div>
                                <div class="tab-pane" id="youtube">
                                    <div class="container text-center pt-2">
                                        <h6 class="text-info">
                                            Stay connect to our youtube channel
                                        </h6>
                                    </div>
                                    <div class="container d-flex justify-content-center pt-3 text-black" >
                                        <div style="height: 50px; width: 200px;" class="g-ytsubscribe" data-channelid="UC-zKAI_v4sl49ZWjLOTNzZg" data-layout="full"  data-count="default"></div>
                                    </div>
                                </div>

                                <div class="tab-pane " id="insta">
                                    <div class="text-center pt-4">
                                        <a href="https://www.instagram.com/banda_roti_bankbanda/" target="_blank">
                                            <button class="btn insta-bg text-white">Follow us on instagram</button>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


    {{>footer}}
</body>

{{!-- old instagram feed integration method removed as it is not working anymore --}}

</html>