<ul class="nav nav-tabs nav-justified px-1 pt-2">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#donate">Donate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#paytm">Paytm</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#google">GPay</a>
    </li>
</ul>


{{!-- tabs content --}}

<div class="tab-content">
    <div class="tab-pane container active" id="donate">Donate</div>
    <div class="tab-pane container fade" id="paytm">Paytm</div>
    <div class="tab-pane container fade" id="google">Google Pay</div>
</div>