<div class="global-container">
    <div id="loginCard" class="card login-form">
        <div class="card-header text-center">Donate</div>
        <div class="card-body">

            <ul class="nav nav-tabs nav-justified px-1 pt-2">
                {{!-- <li class="nav-item ">
                    <a class="nav-link active" data-toggle="tab" href="#scanPay">Scan & pay</a>
                </li>  --}}

                <li class="nav-item">
                    <a class="nav-link active " data-toggle="tab" href="#donate">Bank transfer</a>
                </li>
                
            </ul>
            <div class="tab-content ">
                <div class="tab-pane active container text-center " id="donate">
                    {{!-- <h6 class="mt-3 text-" style="font-size:11px">Send your contribution through bank transfer</h6> --}}
                    <h6 class="mt-3 text-" >Bank Transfer Details</h6>
                        <div class="container ">
                            <table class="table table-striped table-sm mt-3">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            Bank Name
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Central Bank Of India
                                            Branch - D A V 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped table-sm mt-3">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            Account Holder's Name
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Riwzan Ali
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped table-sm mt-3">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            IFSC code
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            CBIN 0283930
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped table-sm mt-3">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            Account Number
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                           3723973295
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <table class="table table-striped table-sm mt-3">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            Mobile Number
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            9451988451
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                {{!-- <div class="tab-pane active container text-center " id="scanPay">
                    <h6 class="mt-3 mb-2 ">Scan from any upi supported payment app</h6>
                    <img src="./images/common/supportedApps.png" width="200" class="mt-2 mb-2 rounded img-thumbnail"
                            alt="Image showing support apps for payments">
                    
                    <div class="container ">
                        <img src="./images/common/demoQrCode.svg" width="200" class="rounded img-thumbnail" alt="Qr code for payment">
                    </div>
                    <h6 class="my-3 font-weight-bold ">UPI id - demoId@upi</h6>
                    <h6 class="my-1  ">Scan and send your love 💝</h6>
                    <h6 class="my-1  ">Any amount is welcome 😁</h6>
                </div> --}}

            </div>

        </div>
    </div>
</div>
{{!-- tabs content --}}


<!-- <script>

    function initiatePayment() {

        // for making all the fieds required
        let inputs = document.getElementsByClassName("form")[0].children;
        for (let i = 0; i < 4; ++i) {
            if (inputs[i].value === "") {
                document.getElementById("alertMessage").innerHTML = "* All the fields are required";
                return;
            }

        }

        var http = new XMLHttpRequest();
        http.open("post", "https://www.archerstack.com/payments/pay-online");
        var customerName = document.getElementById('name').value;
        var customerId = document.getElementById('email').value;
        var amount = document.getElementById('amount').value;
        var mobile = document.getElementById('mobile').value;
        var data = "customerName=" + customerName + "&customerId=" + customerId + "&amount=" + amount + "&mobile=" + mobile;
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.send(data);
        http.onloadend = (e) => {
            if (http.status == '200') {
                createPaymentLink(http.responseText);
            }
            else alert(http.responseText);
        }
    }
    function createPaymentLink(paymentId) {
        var http = new XMLHttpRequest();
        http.open("post", "https://www.archerstack.com/payments/create-payment-link");
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.send("paymentId=" + paymentId);
        http.onloadend = (e) => {
            if (http.status == '200') {
                window.open(http.responseText);
            }
            else alert(http.responseText);
        }
    }
</script> !-->