<div class="global-container">
    <div id="loginCard" class="card login-form">
        <div class="card-header text-center">Donate</div>
        <div class="card-body">
            <div class="card-text">
                <div class="form">
                    <input type="text" class="form-control mb-3" name="name" id="name" placeholder="Name" required>
                    <input type="email" class="form-control mb-3" name="email" id="email" placeholder="Email" required>
                    <input type="number" class="form-control mb-3" name="amount" id="amount" placeholder="Amount"
                        required>
                    <input type="number" class="form-control mb-3" name="mobile" id="mobile" placeholder="Mobile"
                        required>
                    <button onclick="initiatePayment()" class="btn btn-info">
                        Donate Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function initiatePayment() {
        var http = new XMLHttpRequest();
        http.open("post", "https://www.archerstack.com/payments/pay-online");
        var customerName = document.getElementById('name').value;
        var customerId = document.getElementById('email').value;
        var amount = document.getElementById('amount').value;
        var mobile = document.getElementById('mobile').value;
        var data = "customerName=" + customerName + "&customerId=" + customerId + "&amount=" + amount + "&mobile=" + mobile;
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.send(data);
        http.onloadend = (e) => {
            if (http.status == '200') {
                createPaymentLink(http.responseText);
            }
            else alert(http.responseText);
        }
    }
    function createPaymentLink(paymentId) {
        var http = new XMLHttpRequest();
        http.open("post", "https://www.archerstack.com/payments/create-payment-link");
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.send("paymentId=" + paymentId);
        http.onloadend = (e) => {
            if (http.status == '200') {
                window.open(http.responseText);
            }
            else alert(http.responseText);
        }
    }
</script>