{{!-- This partial include footer content and footer scripts partial at the end --}}

<footer class="footer-section">
    <div class="container">
        <div class="footer-cta py-5">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single-cta d-flex">
                        <i class="fa fa-map-marker"></i>
                        <div class="cta-text">
                            <h4>Address</h4>
                            <span>Banda Roti Bank, near teliphon tower mardannaka, Banda city, Uttar Pradesh
                                210001</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-cta">
                        <i class="fa fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+91 9451988451</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-cta d-flex">
                        <i class="fa fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Email us</h4>
                            <span>Bandarotibank@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content py-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3 class="text-white">Banda Roti Bank</h3>
                        </div>
                        <div class="footer-text">
                            <p>
                                We are Banda Roti Bank! A Non-Profit organisation situated in
                                Banda Uttar pradesh. We Provide free food and other social
                                services to needy people.
                            </p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="https://www.facebook.com/bandarotibankbanda" target="_blank"><i
                                    class="fa fa-facebook-f facebook-bg"></i></a>
                            <a href="https://www.instagram.com/banda_roti_bankbanda" target="_blank"><i
                                    class="fa fa-instagram insta-bg"></i></a>
                            <a href="https://twitter.com/Rotibankbanda?s=09" target="_blank"><i
                                    class="fa fa-twitter bg-primary "></i></a>
                            <a href="https://youtube.com/channel/UC-zKAI_v4sl49ZWjLOTNzZg   " target="_blank"><i
                                    class="fa fa-youtube bg-danger"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul class="flex-wrap">
                            <li><a href="/">Home</a></li>
                            <li><a href="/newsfeed">Newsfeed</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="mission">Our Mission</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Donate</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Be the part of our lovely family! Share your love ❤</p>
                        </div>
                        <button type="button" id="donateBtn" class="btn btn-warning" data-toggle="modal" data-target="#donateModal">
                Donate
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-text text-center">
                <p>Banda Roti Bank</p>
            </div>
        </div>
    </div>
</footer>

{{>footerScripts}}