{{!-- This partial include footer content and footer scripts partial at the end --}}

<footer class="footer-section">
    <div class="container">
        <div class="footer-cta py-5">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single-cta d-flex">
                        <i class="fa fa-map-marker"></i>
                        <div class="cta-text">
                            <h4>Address</h4>
                            <span>Banda Roti Bank, Banda city, Uttar Pradesh 210001</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-cta">
                        <i class="fa fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>9876543210</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single-cta d-flex">
                        <i class="fa fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Email us</h4>
                            <span>Bandarotibank@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content py-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <h2 class="text-white">Banda Roti Bank</h2>
                        </div>
                        <div class="footer-text">
                            <p>
                                We are Banda Roti Bank! A Non-Profit organisation situated in
                                Banda Uttar pradesh. We Provide free food and other social
                                services to needy people.
                            </p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fa fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fa fa-instagram insta-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Newsfeed</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Our Mission</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Donate</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Be the part of our lovely family! Share your love ❤</p>
                        </div>
                        <button class="btn btn-warning">Donate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-text text-center">
                <p>@Banda Roti Bank</p>
            </div>
        </div>
    </div>
</footer>

{{>footerScripts}}
