<div class="global-container">
    <div id="loginCard" class="card login-form">
        <div class="card-header text-center">Your Details</div>
        <div class="card-body p-0">
            <div class="card-text">
                <div class="form mt-0">
                    <ul class="list-group text-dark ">
                        <li class="list-group-item ">
                            <div class="input-group ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text bg-white border-0">
                                        <h5><span class="badge badge-info">Name</span></h5>
                                    </span>
                                </div>
                                <p class="form-control ">{{userDetails.name}}</p>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white border-0">
                                        <h5><span class="badge badge-info">Mobile</span></h5>
                                    </span>
                                </div>
                                <p class="form-control">{{userDetails.phone}}</p>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white border-0">
                                        <h5><span class="badge badge-info">Email</span></h5>
                                    </span>
                                </div>
                                <p class="form-control ">{{userDetails.email}}</p>
                            </div>
                        </li>
                        <li class="list-group-item ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white border-0">
                                        <h5><span class="badge badge-info">Donations</span></h5>
                                    </span>
                                </div>
                                <p class="form-control ">0</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>