{{!-- This partial is for register which will be loaded inside the modal --}}

<div class="global-container">
    <div class="card login-form">
        <div class="card-header text-center">Register</div>
        <div class="card-body">
            <div class="card-text">
                <!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form class="form">
                    <!-- to error: add class "has-danger" -->

                    <div class="userType pb-3">
                        <label for=""> Register as</label>
                        <div class="d-flex">
                            <div class="form-check pr-4">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio" />User
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio" />Volunteer
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fullName">Your Full Name</label>
                        <input type="text" class="form-control form-control-sm" id="fullName" />
                    </div>

                    <div class="form-group">
                        <label for="phoneNo">Your Phone Number</label>
                        <input type="text" class="form-control form-control-sm" id="phoneNo" />
                    </div>

                    <div class="form-group">
                        <label for="registerEmail">Email address</label>
                        <input type="email" class="form-control form-control-sm" id="registerEmail" />
                    </div>
                    <div class="form-group">
                        <label for="registerPassword">Password</label>
                        <input type="password" class="form-control form-control-sm" id="registerPassword" />
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" />
                            By clicking, you agree to our Privacy & Terms
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Register
                    </button>

                    <div class="sign-up">
                        Don't have an account? <a href="#">Create One</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>