
.u-section-1 {
  min-height: 688px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/mission/af8d63a477078732b79ff9d9fc60873f.jpg");
  background-position: 50% 94.77%;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 688px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 229px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 229px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 229px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 18px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 229px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 229px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 18px 0 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 229px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 567px;
    background-position: 50% 28.48%;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-1 .u-text-4 {
    font-weight: 700;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 189px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 189px;
  }

  .u-section-1 .u-text-7 {
    font-weight: 700;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 189px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 189px;
  }

  .u-section-1 .u-text-10 {
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 923px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -816px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 75px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 75px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1254px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -2824px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 206px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1208px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -4px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 87px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-8 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 798px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 678px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 86px;
}

.u-section-2 .u-image-1 {
  width: 403px;
  height: 483px;
  margin: 30px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 678px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 456px;
  margin: 30px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 60px 273px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-2 {
  width: 456px;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 559px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 559px;
  }

  .u-section-2 .u-line-1 {
    width: 410px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 173px;
  }

  .u-section-2 .u-line-2 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-line-1 {
    width: 300px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 63px;
  }

  .u-section-2 .u-line-2 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -91px;
    margin-bottom: -91px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1148px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 19px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 362px;
}

.u-section-3 .u-text-1 {
  width: 710px;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 710px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  margin: 32px auto 60px;
  padding: 10px 49px 10px 48px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    font-size: 1.25rem;
  }
}