#wrapper {
  font-family: "Poppins", sans-serif;
  background-color: rgba(245, 245, 245, 0.479);
}

#section1 .card {
  border: none;
  box-shadow: 0px 0px 15px 0.5px rgba(128, 128, 128, 0.3);
}

#section2 .row {
  gap: 30px;
}

#section2 #blogContainer .card .list-group-item {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
