article {
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 1px rgba(109, 101, 101, 0.411)

}

.social a {
  padding: 0 0.5em;
}

.page-header {
  margin-bottom: 2rem;
}
