<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    {{!-- Headere Links --}}
    {{!-- bootstrap --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {{!-- css --}}
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/dashboard.css">

    {{!-- Font awesome icon cdn --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- --}}
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">

        <div class="navbar-brand">Dashboard</div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav nav-tabs ml-auto ">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#newsfeed">Newsfeed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="tab-content">
        <div class=" tab-pane container active" id="home">
            {{> admin/home}}
        </div>
        <div class="tab-pane container fade" id="users">
            {{> admin/users}}
        </div>
        <div class="tab-pane container fade" id="newsfeed">
            {{> admin/newsfeedDashboard}}
        </div>
        <div class="tab-pane container fade" id="contact">
            {{> admin/contactDashboard}}
        </div>
        <div class="tab-pane container fade" id="donation">
            {{> admin/donationDashboard}}
        </div>
    </div>
</body>

</html>