<section class="container py-5">
    <h5 class="text-center text-white">
        Welcome to the <span class="text-warning">Contact Dashboard</span>
    </h5>
</section>

<section class=" mb-5">
    <div class="card border-0">
        <div class="card-header bg-info">
            <h5 class=" text-white">
                Messages
            </h5>
        </div>
        <div class="card-body">

        </div>
    </div>
</section>