<section class="container py-5">
    <h5 class="text-center text-white">
        Welcome to the <span class="text-warning">Users Dashboard</span>
    </h5>
</section>

<section class=" mb-5">
    <div class="card border-0">
        <div class="card-header bg-info d-flex justify-content-between align-items-center">
            <h5 class="text-white">
                Manage Users
            </h5>
            <div class="form-group mb-0 pb-0">
                <select class="form-control form-control-sm">
                    <option value="">Filter</option>
                    <option>Users</option>
                    <option>Volunteer</option>
                </select>
            </div>
        </div>

        <div class="card-body p-0">
            {{#each us1}}
            <ul class="list-group text-dark">
                <li class="list-group-item d-flex justify-content-between align-items-center"> 
                    <h6>
                        {{name}}
                    </h6>
                    <div class="d-flex">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                            data-target="#viewDetails">
                            Views Details
                        </button>
                    </div>
                </li>
            </ul>
            {{/each}}
        </div>
    </div>
</section>

{{!-- modal for user details view --}}
{{#each det}}
<div class="modal" id="viewDetails">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body p-0">
                <ul class="list-group text-dark">
                    <li class="list-group-item">
                        <form method="POST" action="">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white ">Name</span>
                                </div>
                                <input type="text" class="form-control" name="fullName" value={{name}} placeholder="" readonly>
                            </div>
                        </form>
                    </li>

                    <li class="list-group-item">
                        <form method="POST" action="">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white">Type</span>
                                </div>
                                <input type="text" class="form-control" name="userType" placeholder="" readonly>
                            </div>
                        </form>
                    </li>

                    <li class="list-group-item">
                        <form method="POST" action="">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-white">Phone</span>
                                </div>
                                <input type="text" class="form-control" name="mobile" placeholder="" readonly>
                            </div>
                        </form>
                    </li>

                    <li class="list-group-item">
                        <form method="POST" action="">
                            <div class="input-group">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text bg-white">Email</span>
                                </div>
                                <input type="text" class="form-control" name="email" placeholder="" readonly>
                            </div>
                        </form>
                    </li>

                </ul>
            </div>
            <div class="modal-footer">
                <form action="" method="post">
                    <button type="button" data-toggle="tooltip" title="Delete!" data-placement="auto"
                        class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}